<div class="row mt-2">
  <h3>搜索</h3>
  <div><input id="search-text" title="search" class="search-text" type="text" placeholder="搜索……"></div>
  <div style="margin-top: 1.5rem;">
    <ul id="result"></ul>
  </div>
</div>